

<p>User: User Input 1 ::@ViewBag.Input1</p>
<p>User: User Input 2 ::@ViewBag.Input2</p>
<p>User: Sum of @ViewBag.Input1 + @ViewBag.Input2 ::@ViewBag.Output</p>
@{
    ViewBag.Name = "PR Request Demo";
}
<p>User: @ViewBag.Name</p>
